@model IEnumerable<Home5.Models.GameResult>

@{
    ViewBag.Title = "Результаты игр";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Результаты игр</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Результат игры
        </th>
        <th>
            Первый игрок
        </th>
        <th>
            Второй игрок
        </th>
        <th>
            Количество ходов
        </th>
        <th>
            Дата игры
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StepsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameTime)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробная информация", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
